.idea/
Libraries/Src/Credentials.py
Libraries/Src/__pycache__
Results/
Libraries/Unittests/Common/__pycache__/
Libraries/Unittests/AdminLoginPageUT/__pycache__/*
Libraries/Unittests/AdminMainPageUT/__pycache__/*
Libraries/Unittests/AddGroupPageUT/__pycache__/*
Libraries/Unittests/pythonpath.txt
Libraries/Unittests/.coverage
Libraries/Unittests/htmlcov
